@import url('https://fonts.cdnfonts.com/css/calculator');

body {
    background-color: #183D3D;
    font-family: 'Roboto Mono', monospace;
}
table {
    background-color: #040D12;
    border: 3px solid #5C8374;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-top: 20px;
    position: relative;
}

input[type="button"] {
    width: 100%;
    padding: 20px 40px;
    background-color: burlywood;
    color: black;
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    font-family: 'Calculator', sans-serif;
    
}

input[type="text"] {
    padding: 20px 30px;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid lightseagreen;
    border-radius: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo img {
    width: 170px; 
    height: 40px; 
}

.model {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    color: white;
    margin-top: 35px;
    margin-right: 25px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buttons:hover {
    background-color: #16FF00;
    border-radius: 15px;    
}

#ibangkulay {
    background-color: #A05344;
}
#allclearkulay {
    background-color: #E79E4F;
}
#operatorskulay {
    background-color: #0E8388;
}
.placeholderfont {
    font-family: 'Calculator', sans-serif;
}




